<%-include('./partials/header.ejs');%>
<main id="docs">
    <div class="ui segment" style="text-align:center">
        <h1>Logical and Conceptual Database Model</h1>
    </div>
    <div id="doc">
        <iframe id="ifram" src="https://docs.google.com/document/d/e/2PACX-1vShKe8RyAQB-8OB12JBl4UgESWCNsDtyE9zuGKKiU0GtLupG1eGU868STrP67lY3vznAxrHKz_O5k5Q/pub?embedded=true">
        </iframe>
    </div>
</main>

<footer style="display:none">
<%-include('./partials/footer.ejs');%>
</footer>
