<%-include('./partials/header.ejs');%>
<main>
  <div id="container" class="ui segment">
    <h1>Dashboard</h1>
    <p>i got nootthinngg</p>
  </div>
  <div id="container">

  </div>
</main>

<footer>
<%-include('./partials/footer');%>
</footer>


</body>
</html>