<%-include('./partials/header');%>
<main>
<div class="ui segment"><h2>All Database Queries:</h2></div>
<div class="ui container">

        <% function renderQuerySegment(queryName, query) { %>
            <div class="ui raised segment">
                <h3><%= queryName %></h3>
                <div class="ui segment"><strong><pre><%= query %></pre><strong></div>
            </div>
        <% } %>

        <% renderQuerySegment("Get All Suppliers", QUERY_GET_ALL_SUPPLIERS) %>
        <% renderQuerySegment("Get All Stock", QUERY_GET_ALL_STOCK) %>
        <% renderQuerySegment("Get All Customers", QUERY_GET_ALL_CUSTOMERS) %>
        <% renderQuerySegment("Get All Defaulters", QUERY_GET_ALL_DEFAULTERS) %>
        <% renderQuerySegment("Get All Inventory", QUERY_GET_ALL_INVENTORY) %>
        <% renderQuerySegment("Get All Reorders", QUERY_GET_ALL_REORDERS) %>
        <% renderQuerySegment("Get All Accounts Payable", QUERY_GET_ALL_ACCOUNTS_PAYABLE) %>
        <% renderQuerySegment("Get All Accounts Receivable", QUERY_GET_ALL_ACCOUNTS_RECEIVABLE) %>
        <% renderQuerySegment("Get All Profit Fulfillment", QUERY_GET_ALL_PROFIT_FULFILLMENT) %>
        <% renderQuerySegment("Get All Fulfillment Dates", QUERY_GET_ALL_FULFILLMENT_DATES) %>
        <% renderQuerySegment("Post New Stock", QUERY_POST_NEW_STOCK) %>
        <% renderQuerySegment("Post New Customer", QUERY_POST_NEW_CUSTOMER) %>
        <% renderQuerySegment("Post New Fulfillment Date", QUERY_POST_NEW_FULFILLMENT_DATE) %>
        <% renderQuerySegment("Post New Receivables", QUERY_POST_NEW_RECEIVABLES) %>
        <% renderQuerySegment("Post New Defaulters", QUERY_POST_NEW_DEFAULTERS) %>
        <% renderQuerySegment("Post New Reorder", QUERY_POST_NEW_REORDER) %>
        <% renderQuerySegment("Post New Supplier", QUERY_POST_NEW_SUPPLIER) %>
        <% renderQuerySegment("Post New Profit Fulfillment", QUERY_POST_NEW_PROFIT_FULFILLMENT) %>
        <% renderQuerySegment("Post New Accounts Payable", QUERY_POST_NEW_ACCOUNTS_PAYABLE) %>
        <% renderQuerySegment("Post New Accounts Receivable", QUERY_POST_NEW_ACCOUNTS_RECEIVABLE) %>
        <% renderQuerySegment("Post New Inventory", QUERY_POST_NEW_INVENTORY) %>
        <% renderQuerySegment("Get Total Units Report", QUERY_GET_TOTALUNITS_REPORT) %>
        <% renderQuerySegment("Get Supplier Weight Report", QUERY_GET_SUPPLIERWEIGHT_REPORT) %>
        <% renderQuerySegment("Get Total Accounts Receivable", QUERY_GET_TOTALACCOUNTSRECEIVABLE) %>
        <% renderQuerySegment("Get Total Accounts Payable", QUERY_GET_TOTALACCOUNTSPAYABLE) %>
        <% renderQuerySegment("Get Net Accounts", QUERY_GET_NETACCOUNTS) %>
        <% renderQuerySegment("Get Total Profit Fulfillment", QUERY_GET_TOTALPROFITFUFIL) %>
        <% renderQuerySegment("Get Receivables and Defaulters", QUERY_GET_RECIEVABLES_AND_DEFAULTERS) %>
        <% renderQuerySegment("Get Order Inventory Report", QUERY_GET_ORDER_INV_REPORT) %>
        <% renderQuerySegment("Get Dashboard Products", QUERY_GET_DASH_PROD) %>
        <% renderQuerySegment("Get Dashboard Inventory", QUERY_GET_DASH_INVV) %>
    </div>
</main>



<footer>
<%-include('./partials/footer');%>
</footer>