<%-include('./partials/header');%>
<main>
    <!--
        User Management
        Authentication
        User Roles and Permissions
    -->
    <div class="ui segment" style="text-align:center">
        <h1>User Management</h1>
    </div>
    <div class="ui grid segment ">
        <div class="segment eight wide column">
            <h1>Authentication</h1>
            <h1>User Roles and Permissions</h1>
        </div>
    </div>
</main>



<footer>
<%-include('./partials/footer');%>
</footer>